<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL CHEROKEE.FINANCE FARMING CALCULATOR 👨‍🌾 ***************
INFO  : <a href="https://app.cherokee.finance">app.cherokee.finance</a>
*****************************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'bsc_cherokee'}); -%>
</body>
</html> 
