<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
*************** 👨‍🌾 UNOFFICIAL BUTT FARMING CALCULATOR 👨‍🌾 ***************
CONTRACTS
Buttcoin: <a href='https://ftmscan.com/address/0xF42cc7284389fBf749590f26539002ca931323D0'>0xF42cc7284389fBf749590f26539002ca931323D0</a>
Shitcoin: <a href='https://ftmscan.com/address/0x65414a8581a7571531ea2bcdcba8a3f0c1a1554b'>0x65414a8581a7571531ea2bcdcba8a3f0c1a1554b</a>

MasterSHIT: <a href='https://ftmscan.com/address/0x0b8782fa6f3bBE1a0d2569C8E306e33eD0D38735'>0x0b8782fa6f3bBE1a0d2569C8E306e33eD0D38735</a>

ZOO LP CONTRACTS
BUTT-FTM: <a href='https://ftmscan.com/address/0x823aa5dccb5bb602b393081365d9e3e92867e123'>0x823aa5dccb5bb602b393081365d9e3e92867e123</a>
SHIT-FTM: <a href='https://ftmscan.com/address/0xf386ce2d4de9fe8fc47d00ebc6816cc5f79a350b'>0xf386ce2d4de9fe8fc47d00ebc6816cc5f79a350b</a>
BUTT-SHIT: <a href='https://ftmscan.com/address/0xf5F1Bc0100D8A46091a861c8C5c2a18e2427c169'>0xf5F1Bc0100D8A46091a861c8C5c2a18e2427c169</a>
************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'fantom_butt'}); -%>
</body>
</html> 
